@charset "UTF-8";


@font-face {
    font-family: 'Cordel';
    src: url(fontes/TT\ Masters\ Rough\ Bold.otf) format('opentype');
    font-weight: normal;
}

@font-face {
    font-family: 'Signika';
    src: url(fontes/Signika-VariableFont_wght.ttf) format('truetype');
    font-weight: normal;
}

:root {
    --fonte-cabeçalho: 'Signika', sans-serif
    --fonte-texto: 'Cordel', Arial, Helvetica, Verdana, sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

header {
    font-family: var(--fonte-cabeçalho);
    background-color: black;
    height: 190px;
}

header > h1 {
    color: white;
    text-align: center;
    padding-top: 30px;
    font-size: 70px;
    font-weight: bold;
}

header > p {
    color: white;
    text-align: center;
    margin-top: 10px;
}

main {
    font-family: var(--fonte-texto);
    border: 3px solid black;
}

main p {
    font-family: var(--fonte-texto);
    font-size: 32px;
    line-height: 50px;
    margin-top: 200px;
    margin-bottom: 200px;
    padding-left: 20px;
    font-style: italic;
    font-weight: bold;
}

#flor {
    background: black url(imagens/background001.jpg) center no-repeat fixed;
    background-size: cover;
    color: white;
    height: 100vh;
    position: relative;
}

#carta {
    background: black url(imagens/background002.jpg) center no-repeat fixed;
    background-size: cover;
    color: white;
    height: 100vh;
    position: relative;
}

.fundo {
    background: rgba(0, 0, 0, 0.445);
    max-width: 370px;
    padding: 20px;
    position: absolute;
}

footer {
    background-color: black;
    color: white;
    padding: 8px;
    text-align: center;
}